<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Application Loggers -->
	<logger name="org.tukorea">
		<level value="info" />
	</logger>
	<!-- 3rdparty Loggers <logger name="org.springframework"> <level value="info" 
		/> </logger> -->
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>
	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	<root level="warn">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
<!-- 로그레벨 1. FATAL : 매우 심각한 에러 
2. ERROR : FATAL보다는 덜 심각한 에러 
3. WARN : 에러가 될 수 있는 잠재적 가능성이 있는 경우 
4. INFO : 명확한 의도가 있는 에러, 요구사항에 따라 시스템 동작을 보여줄 경우 
5. DEBUG : INFO 레벨보다 더 자세한 정보가 필요한 경우
6. TRACE : DEBUG보다 세밀한 정보 -->